form {
  border-radius: 10px;
  display: block;
  margin: 0px auto;
  padding: 15px;
}

form .contact-box {
  padding: 40px 30px;
}

form .label-input {
  font-size: 18px;
  margin: 0 0 10px;
  width: 100%;
}

form .text-box, form .image-input {
  border: 1px solid var(--primary-color);
  border-radius: 7px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 7px 0;
  padding: 10px 15px;
  width: 100%;
}

form .text-box:focus {
  border: 1px solid var(--primary-color);
  outline: 2px solid #a49ff9;
}

form .btn-submit {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 7px;
  color: #fff;
  display: block;
  letter-spacing: 1px;
  margin-left: auto;
  padding: 10px 15px;
  transition: all 200ms ease-in-out;
}

form .btn-submit:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
